body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #5c5c5c;
}

h1 {
    margin: 0;
    padding: 0;
}

.main {
    max-height: 950px;
    max-width: 1400px;
    -webkit-box-shadow: 0px 1px 35px 4px rgba(222, 222, 222, 1);
    -moz-box-shadow: 0px 1px 35px 4px rgba(222, 222, 222, 1);
    box-shadow: 0px 1px 35px 4px rgba(222, 222, 222, 1);
    margin: 0 auto;
    margin-top: 20vh;
    padding: 123px 71px;
}

.main__title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #000;
}

.main__text {}

.main__p {
    font-size: 18px;
    line-height: 40px;
}

.main__p:first-child::first-letter {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 110px;
    float: left;
    line-height: 100px;
    margin-right: 25px;
    color: #000;
}

.main__caption {
    font-size: 24px;
    margin-bottom: 30px;
}

.main__caption b {
    font-size: 60px;
    font-weight: 400;
    margin-right: 25px;
}

.btn {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: #eaa258;
    border: 1px solid #eaa258;
    padding: 25px 75px;
    transition: 0.5s ease;
}

.btn:hover {
    background: #eaa258;
    color: #000;
    cursor: pointer;
}